### print("HelloWorld")
print("HelloWorld")
90

### 3# for Header in Markdown

## 2# for Header in Markdown

# 1# for Header in Markdown

# Variables

In [3]:
a=10
b=20
sum=a+b
print(sum)
#Last line of the cell is the output of it..

30

### We can assign different types of data to the single variable

In [23]:
a="Anshuman sahoo"
a=20
a=10
# a="Anshuman Sahoo"
# Basically the variable contains a address of the container containing the data,every time you assign the different type var to same var, it only changes the address in it
print(id(a)) # gives the ID stored inside a
a # gives the value stored inside a

2584195760656

10

In [20]:
type(a) #This would tell which data-type var is stored inside a
print(type(a))
a="Anshuman" 
print(type(a))

<class 'int'>
<class 'str'>

## Numbers-Variables

In [11]:
a1=23 #intergers
a2=3.4 #floating
a3=4+5j #complex
print(type(a1))
print(type(a2))
print(type(a3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [26]:
a=10 #a contains the address of container1 conatining 10
print(id(a)) # address1
a=a+1
print(id(a)) # address2
a # now it contains the address of container2 containing 11
#In this a contains the address of the container containing "10" and then when it incremented by one, it saves the incremented value"11" into another container and saves its address in the a, rather just updating the 10 inside the its original place

2584195760656
2584195760688

11

In [35]:
a=256
b=256
print(id(a))
print(id(b))
# Differet variable will by-default show the same id as because, they are pointing to the same number"s container
# The above rule ony valid for the numbers from [-5,256]
#Python donot have for stroing limits for intergers as of other languages which have 4bytes etc,storing intergers only depends upon the storage of the system only

2584195768528
2584195768528

## Arethmatic operators

In [40]:
a=14
b=9.5
print(a+b)
print(a-b)

23.5
4.5

In [43]:
print(a*b)
print(a/b) #Would give decimal also (floating point division)
print(a//b) # would give non-decimal part only (integer division)

133.0
1.4736842105263157
1.0

In [47]:
a=2
b=3
a**b # would give the exponantiation-form

8

In [49]:
a % b # would give the reaminder

2

### Ex-Simple interest to lowest integer

In [60]:
p=100
r=12
t=2
simpleInterest=(p*t*r)//100 #Always give brackets on what you want to be first calculated
simpleInterest

24

### Ex-Farh to celcium conversion

In [63]:
f=100
c=(f-32)*5/9 #Always give brackets on what you want to be first calculated
c

37.77777777777778

# User-Input

In [4]:
Name=input()
Name2=input()
print(Name,Name2,"is my name!!")

 Anshuman
 Sahoo

Anshuman Sahoo is my name!!

In [3]:
a=input()
print(type(a))

b=input()
print(type(b))
s=(a+b) #By default the input() operation takes input as string by default irrespective of the input, in which when we are giving add command, it gives output as concataion-string means adding the string
print(s)

 12

<class 'str'>

 23

<class 'str'>
1223

In [7]:
# So we need to type-cast the default inputed string into required data-type that we need 
a=input()
b=int(a)
print(type(b))

c=input()
d=int(c)
print(type(d))

e=(b+d) #Will add the integer, which is being typecasted from string in above code
print(e)
a+c #Would give string part

 12

<class 'int'>

 23

<class 'int'>
35

'1223'

In [16]:
#Directly taling the input as int from typecasting at input
a=int(input())
b=int(input())
print(a+b)

 12
 23

35

In [13]:
#Directly taking the input as float from typecasting at input
a=float(input())
print(type(a))
a

 2.5

<class 'float'>

2.5

In [15]:
s="4.5" #string
float(s) #string converted into float by typecasting

4.5

In [20]:
# Simple INterest using typecasting from float
p=float(input())
r=float(input())
t=float(input())
SI=(p*r*t)/100
SI

 12
 23
 34

93.84

### Assignment

In [41]:
# 23
a=int(input())
b=int(input())
c=int(input())
Avg=(a+b+c)/3 
print(Avg)

 2
 3
 4

3.0

In [33]:
#24.1
X=int(input())
if X<1 or X>100:
  print("Illegeal Input")

N=int(input())
if N<1 or N>100:
    print("Illegeal Input")
    
print(X**N)

 10
 4

10000

In [40]:
#24.2
a=int(input())
b=int(input())
c=int(input())

if b-a==c-b:
    print("The common Difference is:",b-a)
else:
    print("Illegeaql AP!!")

 1
 3
 5

The common Difference is: 2

In [43]:
#24.3