# Tupple
* Indexing and Slicing works here
* It also can be hetrogenous
* It is different from the list because it is immutable like string as in list update,add,remove can be done but with tupple it cannot be done as well as with string

In [147]:
c,d=1,2 #normal defining varuable 2 at same time
print(c)
print(d)

e=1,2,3 #But (2 or more than 2)-numbers assing to same var is called Tupple
print(e)
print(type(e))

1
2
(1, 2, 3)
<class 'tuple'>

In [148]:
#Tupple-List:
e=34,23,12,78
print(type(e))
print(e[0]) #Item aceesed just like a list/array
print(e[3])
#Speciality of tupple come here:
#Last index of the tupple starts from the -1 and decreases by one as goes to start
print(e[-1])
print(e[-2])
print(e[-3])
print(e[-4])

<class 'tuple'>
34
78
78
12
23
34

In [149]:
#Tupple-String:
a="Anshuman","Sahoo"
print(a)
print(type(a))
print("a[0]:",a[0])
print(a[-1])

('Anshuman', 'Sahoo')
<class 'tuple'>
a[0]: Anshuman
Sahoo

In [150]:
f=(1,2,3,4,5)
f[3:] #Slicing

(4, 5)

In [151]:
len(f)

5

In [152]:
f[4]=34 #it cant be done
del f[4] #it cant be done

TypeError: 'tuple' object does not support item assignment

# Tupple-operation

In [153]:
# for loops
for i in f:
    print(i)
#while loop
i=0
while i<len(f):
    print(i)
    i+=1

1
2
3
4
5
0
1
2
3
4

In [154]:
# Checks whther items are in tupple or not
print(1 in f)
print(3 in f)
print(10 in f)

True
True
False

In [155]:
# Concatenation can happen store in another new tupple
a=(1.1,2,3,4,5)
b=(9,8,7,6,0)
c=a+b
print(c)
#Tupple can have more than one tupple inside it as an items
d=(a,b)
d

(1.1, 2, 3, 4, 5, 9, 8, 7, 6, 0)

((1.1, 2, 3, 4, 5), (9, 8, 7, 6, 0))

In [156]:
a=1,2
b=(4,5)
print(type(a))
print(type(b))
d=a+b
print(d)
print(type(d))

<class 'tuple'>
<class 'tuple'>
(1, 2, 4, 5)
<class 'tuple'>

In [157]:
#creating a new tupple by reapting the item tupple
e=a*4
e

(1, 2, 1, 2, 1, 2, 1, 2)

In [158]:
print(min(a)) #Gives minimum value of the tupple
print(max(a)) #Gives max value of the tupple

1
2

In [159]:
#Hetrogenous tupple : Here max& min does not work as comparison takes place for max and min , as here there is no same category items
#only float and integer are comparable
a2=(1,2,"s",(1,2))
max(a2) # TypeError: '>' not supported between instances of 'str' and 'int'
min(a2) # TypeError: '>' not supported between instances of 'str' and 'int'

TypeError: '>' not supported between instances of 'str' and 'int'

### Tuple creation from List

In [160]:
#List to tupple

l=[1,2,3,4,5.5] #list
tuple(l) #tuple

(1, 2, 3, 4, 5.5)

# Variable length Input and Output (major advantage using tuple)
* Our aim is to pass as many as (variable) arguments and get that (variable) outputd

In [161]:
# Like here predeclared argument is there
def sum(a,b):
    return a+b
sum(9,3)
sum(9,3,4,5) #Will not work :TypeError: sum() takes 2 positional arguments but 4 were given

TypeError: sum() takes 2 positional arguments but 4 were given

In [162]:
#It takes variable inputs amnd returns one outputs
def sum2(a,b,*more): #In *more, it takes the extra arguments inside the more-tuple
    print(a)
    print(b)
    print(more) #Here this way it operates the extra arguments thorugh more-tuple
    print(type(more))
    ans=a+b
    for i in more: # Then accessed each item in tupple separetly and added them, as wholy is not possible as tuple not interact with int    
        ans+=i
    print(ans)
    
sum2(1,2,3,4,5,6,7) # variable inputs
sum2(2,3)

1
2
(3, 4, 5, 6, 7)
<class 'tuple'>
28
2
3
()
<class 'tuple'>
5

In [163]:
#If we replace tuple by array then we needed to give arguments at the third one and have to make array symbol,
# but not required with the tuple
def sum3(a,b,more): 
    print(a)
    print(b)
    print(more)
sum3(2,3,[2,3,4])

2
3
[2, 3, 4]

In [164]:
#It takes prdefined inputs and return  variable outputs
def sumMulDivDiff(a,b):
    tupple=(a+b,a*b,a//b,a-b)
    print(tupple)
    print(type(tupple))
    return tupple #fucntion will return the tupple holding the answers

ans=sumMulDivDiff(12,3) 
ans #it also a tupple

(15, 36, 4, 9)
<class 'tuple'>

(15, 36, 4, 9)

# Dictionaires 
* Can have inside anytype of keys corresponding to anytype of values
* They are jus like mapping of key to the value, defined just like structures
* Like in List the key was the index and value was the item stored at that index
* Dictionaires are not immutable in nature, just like Lists
* List: [ ]
* Tuple: ( )
* Dictionary: { }

In [165]:
d={}
print(type(d))

<class 'dict'>

## Creation of dictionary

In [191]:
a={"the":1,"a":5,1000:"abc"} # "Keys":Values, they both canbe anykind
print(a)
print(len(a))
a["word"]=1 #You can add the key with its value like this aslo in list formate like accessing the key formate 
print(a)
print(len(a))

{'the': 1, 'a': 5, 1000: 'abc'}
3
{'the': 1, 'a': 5, 1000: 'abc', 'word': 1}
4

In [167]:
b=a.copy() #b is another dictionary with same properties as of a
print(b)

{'the': 1, 'a': 5, 1000: 'abc'}

### Creation of Dictionary from List

In [168]:
# Here you have to pass the list items into paired brackets,
# which become Keys&Values in the future! 
c=dict([("the",3),("Ok",4),(140,"Nice"),("The",4)])
print(c)
print(type(c))

TypeError: 'dict' object is not callable

In [169]:
#here we would give different key-values and outside-[] have provide just 
# one item, which would considered as Value of all the keys else none will there
d=dict.fromkeys(["abc",32,4],12)
d

{'abc': 12, 32: 12, 4: 12}

# Dictionairy Functions

In [170]:
a={1:2,3:4,"list":[12,33],"Dict":{"Sub":12},"tuple":(12,23)}
print(a)

{1: 2, 3: 4, 'list': [12, 33], 'Dict': {'Sub': 12}, 'tuple': (12, 23)}

## Accessing the data of the Dictionary

In [171]:
#You can access these by typing the keys at as indexs in list representation
print(a[1])
print(a["list"])
print(a["Dict"])
print(a["tuple"])

2
[12, 33]
{'Sub': 12}
(12, 23)

In [172]:
#Here is another method which gives the dictionary's value 
# thorugh it's key from get-method,if false key given then returns none
print(a.get("list")) #VAlid key returns the respective value
print(a.get("li")) #Invalid key return only none

[12, 33]
None

### .get(): returns the value of key listed inside but would return none if the key is invalid but if the invalid key has another argument with , in the bracket then that is considered as value of that illegal key,but with the legal key the legal value is considered only

In [173]:
print(a.get('list',0)) #Legal list gives the legal value from the dictionary leaving the second argument
print(a.get('Anshuman','Ivy League')) #here it is illegal key, considered the value to second argument 
print(a)

[12, 33]
Ivy League
{1: 2, 3: 4, 'list': [12, 33], 'Dict': {'Sub': 12}, 'tuple': (12, 23)}

In [174]:
print(a.keys()) #Gives all the keys of the dictionary
print(a.values()) #Gives all the values of the dictionary
print(a.items()) #Gives all the items inside the dictionairy,returns the list of pairs of keys and values in tupples separate tupple inside common list: just like deining a dictionary

dict_keys([1, 3, 'list', 'Dict', 'tuple'])
dict_values([2, 4, [12, 33], {'Sub': 12}, (12, 23)])
dict_items([(1, 2), (3, 4), ('list', [12, 33]), ('Dict', {'Sub': 12}), ('tuple', (12, 23))])

## Using loop in dictionary

In [175]:
#Here a is dictionary
print(a)

for i in a:
    # print(i) # By-default it will print key
    print(i,a[i]) # As giving key as index to dictionary in list format would give respective value

{1: 2, 3: 4, 'list': [12, 33], 'Dict': {'Sub': 12}, 'tuple': (12, 23)}
1 2
3 4
list [12, 33]
Dict {'Sub': 12}
tuple (12, 23)

In [176]:
#If you need only values, as there is bydefault procedure for key above, here below is for values printing
for i in a.values():
    print(i)

2
4
[12, 33]
{'Sub': 12}
(12, 23)

In [177]:
#Checking if item is present or not in Dictionary

#Key:Below would only check the keys not values, if values are given it will
#alse check them in keys
print("list" in a)#Tell whether Key is present or in dictionary
print("li" in a)

True
False

## Concantation of Dictionary

In [178]:
a={1:2,'list':[1,2],3:5,5:5}
b={4:5,3:7}
print(a)
print(b)

print(a.update(b)) # This will update "a" from adding and overriding "b" if same key different val
print(a)

{1: 2, 'list': [1, 2], 3: 5, 5: 5}
{4: 5, 3: 7}
None
{1: 2, 'list': [1, 2], 3: 7, 5: 5, 4: 5}

In [179]:
a.pop("list") #Would take out the key and correspoding list
print(a) # gives error as their one key(list) is still empty need to be filled
a["list"]="Anshuman"
print(a)

{1: 2, 3: 7, 5: 5, 4: 5}
{1: 2, 3: 7, 5: 5, 4: 5, 'list': 'Anshuman'}

## Print all the words with frequency=k

In [436]:
s="This is a word string having many many word"
k=2 # Freq is given 
words=s.split() #It would split the string wrt space store as tupple
print(type(words))
print(words)
dict={} #Dictianry have to be made where keys are the words in the string and value it there frrequemcy
#Method:1-for for assiging word as key and freq as value in a dictionary
for w in words:
    if w in dict: #Agr items in words list are already intilised in dictioary then only upagrade the value by 1 kyuki hmne intilise hi kiya hai value:1 rkhe   
        dict[w]=dict[w]+1
    else: #Now intilised the words'item in dictioary by giving its value 1
        dict[w]=1
print(dict)

<class 'list'>
['This', 'is', 'a', 'word', 'string', 'having', 'many', 'many', 'word']
{'This': 1, 'is': 1, 'a': 1, 'word': 2, 'string': 1, 'having': 1, 'many': 2}

In [215]:
#More concise code for above:
#Method:1-for for assiging word as key and freq as value in a dictionary
for w in words:
# dict[w]=dict[w]+1 #If we do this they it would give error without intlising word's item inside dict we are upgrading the value
#That's why we checked first, if the item is new first intilised and the upgrade, if comes another time, but makes the code big, so efficinet code is:
    dict[w]=dict.get(w,0)+1 #We used .get(item,value), if the item is not present , it would not give error rather it would intilised the item as key by value=0
print(dict)

{'This': 2, 'is': 2, 'a': 2, 'word': 4, 'string': 2, 'having': 2, 'many': 4}

In [218]:
#Now printing of the words matching with frequency:k=2
for w in dict:
    if dict[w]==k:
        print(w) #Will print the word which have freq =2(k=2)

word
many

In [232]:
#Now lets write the function for the above:
def printKFreqWord(k,s):
    line=string.split() #Would slice string wrt space,words is a tupple has all the wrods of string at every index
    d={}
    for w in line:
        d[w]=d.get(w,0)+1
    for w in d:
        if d[w]==k:
            print(w)

#Calling function
string=input()
k=int(input())
printKFreqWord(k,string)

 Anshuman is the best best human human in in the the world world
 2

best
human
in
world

# Sets
* They also store the data,but no in ordered
* Same defining as dictioanry but difference is that they donot have the values only keys
* It doesnot ssupport indexing
* It can be updated
* Set donot allow to store repeated items in it, if stored, they stated as one element only

In [297]:
a={"Anshuman","Sahoo",100,"Runny"}
print(a) #printed in anyother order as no order is deifned
print(type(a))
print(len(a))

{100, 'Anshuman', 'Runny', 'Sahoo'}
<class 'set'>
4

In [298]:
a[0] #Error as no indexing is there
a["Anshuman"] #Also gives error as no value correspoding to the item, we can only just say that item is there or not

TypeError: 'set' object is not subscriptable

In [299]:
#Checking the items in the set oe ont
print("Anshuman" in a)
print("Bruce Wayne" in a)
print(23 in a)

True
False
False

In [300]:
print(a)
for  word in a:
    print(word)

{100, 'Anshuman', 'Runny', 'Sahoo'}
100
Anshuman
Runny
Sahoo

In [302]:
#Adding items inside the sets
a.add("BATMAN FOREVER")
a.add("~Batman")
print(a)

{100, 'Sahoo', 'Anshuman', 'BATMAN FOREVER', 'Runny', '~Batman'}

In [303]:
#Updating the set by b
b={'abc',"ghi"}
a.update(b) #Now a will have items of b also
print(a)
print(b)

{'abc', 100, 'Sahoo', 'Anshuman', 'BATMAN FOREVER', 'Runny', 'ghi', '~Batman'}
{'abc', 'ghi'}

In [304]:
#Delete data
# (1) ,remove, will remove the item, if item is not there give error
a.remove('~Batman') # Will remove 
print(a)

{'abc', 100, 'Sahoo', 'Anshuman', 'BATMAN FOREVER', 'Runny', 'ghi'}

In [305]:
#Delete data
# (2) .discard(), will remove if item is not there returns none
print(a.discard("~Batman"))

None

In [306]:
#(3) .pop(), will remove the random element 
print(a.pop())

abc

In [313]:
#Clearing all the set items
c={"Abc",123,34,5,"Awesome"}
c.clear()
print(c)

set()

In [373]:
set={1,2,3,4,5,6,7,8,7,6,5,4,3,3,1} #No repeatation is entertained
print(set)

{1, 2, 3, 4, 5, 6, 7, 8}

## Set-Function

In [359]:
a={1,23,43,3,4}
b={3,4,5,6}

In [329]:
#(1):Intersection among sets
a.intersection(b)

{3, 4}

In [330]:
#(2):union of sets
a.union(b)

{1, 3, 4, 5, 6, 23, 43}

In [333]:
#(3):Difference among sets:Everything that is in a but not in b
print(a.difference(b))
print(b.difference(a))

{1, 43, 23}
{5, 6}

In [335]:
#(4):Symmetric Difference :Union-intersection of a and b
print(a.symmetric_difference(b))
print(a.union(b)-a.intersection(b))

{1, 5, 6, 43, 23}
{1, 5, 6, 43, 23}

In [347]:
# (5):intersection_update:update the a by intersection of a&b
print(a.intersection_update(b)) #Doesnot return anything rather updates
print(a)
print(b)

None
{3, 4}
{3, 4, 5, 6}

In [352]:
#similarly:differnce_upadte: a is replace by the differnce of ab
print(a.difference_update(b))
print(a)
print(b)

None
{1, 23, 43}
{3, 4, 5, 6}

In [354]:
#Similarly:symmetric_difference_update: a is replaced by symm_diff of ab
print(a.symmetric_difference_update(b))
print(a)
print(b)

None
{1, 5, 6, 23, 43}
{3, 4, 5, 6}

In [367]:
# (6)issubset:checks whether a is subset or not
print(a.issubset(b))
print(b.issubset(a))

False
False

In [368]:
c={1,23} #cEa
c.issubset(a)

True

In [369]:
#(7) issuperset:
a.issuperset(c)

True

In [364]:
#(8) isdisjoint: there is nothing common
d={89,90}
a.isdisjoint(d)

True

## Problem: You have to find the sum of all numbers in summation repeatation of number is not allowed, as we know in sets or dictionary repetation items are not entertained, here we can use them

In [383]:
def SumUnique(set):
    sum=0
    print(set)
    for i in set:
        sum+=i 
    print(sum)
set={11,23,11,23,43,54,43}
SumUnique(set)

{11, 43, 54, 23}
131

In [432]:
d={} #Declaring an empty dictionary
print(d)
print(type(d))
#creating an empty set: s=set()
s={1}
s.remove(1)
print(s)
print(type(s))

{}
<class 'dict'>
set()
<class 'set'>

In [431]:
#If above function is done from user input:
def InputSumUnique(l):
    s={1}
    s.remove(1)
    sum=0
    for i in l:
        s.add(i)
    print(s)
    for i in s:
        sum+=i
    print(sum)
l=(1,2,1,2,1,3,4,3,2,1,5,5,6,9)
InputSumUnique(l)

{1, 2, 3, 4, 5, 6, 9}
30